body
{
	background: url("BG.jpg") no-repeat top center;
	background-size: cover;
	height: 100vh;
	font-size: 20px;
	font-family: verdana;
	color: #ffffff;
	font-style: italic;
}
input
{
	border-radius: 5px;
	background-color: #5ea2e6;
	color: black;
}

textarea
{
	border-radius: 5px;
	background-color: #36b6e0;
	color: black;
}

form
{
	background: rgba(0,0,20,0.7);
}

#q1
{
	background-color: #339966;
	color: white; 
	border-radius: 4px;
	size: 20px;
}

